@import '../styles/variables';
@import '../styles/mixins';

.section-title-component {
  margin-bottom: $spacing-3xl;

  &--center {
    text-align: center;

    .section-description {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;

    .section-description {
      margin-left: auto;
    }
  }
}